<h2>List of Foods</h2>

<ul>
  <%@foods.each do |food| %>
    <li><%= link_to food.name, food %> with price of $<%= food.price %></li>
  <% end %>
</ul>

<%= paginate @foods, window: 1, outer_window: 1%>
