<h2>List of Restaurants</h2>

<ul>
  <%@restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, controller: "restaurants", action: "show", id: restaurant %></li>
  <% end %>
</ul>

<%= paginate @restaurants, window: 1, outer_window: 1%>
